<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ciceroapps.tether.na">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".NarcoticsAnonymousApp"
        android:allowBackup="true"
        android:icon="@drawable/na_logo"
        android:label="@string/app_name"
        android:theme="@style/NarcoticsAnonymous">
        <activity
            android:name="ciceroapps.tether.na.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
